<div class="row">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conferences</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Women </a>
      <a class="dropdown-item" href="#">Men </a>
      <a class="dropdown-item" href="#">Conventions</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Youth</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Follow Up</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Counselling</a>
      <a class="dropdown-item" href="#">New Converts</a>
      <a class="dropdown-item" href="#">Vocational Bible Study</a>
      <div role="separator" class="dropdown-divider"></div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
  <table class="table table-sm table-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">No.</th>
        <th scope="col">Event</th>
        <th scope="col">Time</th>
        <th scope="col">responsible</th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <th scope="row">1</th>
        <td>Follow up</td>
        <td>Every Wednesday</td>
        <td>Local Evangelist</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>women conference</td>
        <td>August</td>
        <td>Women Leader</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Conventions</td>
        <td>December</td>
        <td>Presiding Bishop</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Youth conference</td>
        <td>April</td>
        <td>Youth Leader</td>
      </tr><tr>
        <th scope="row">5</th>
        <td>Muscle Men</td>
        <td>Every saturday</td>
        <td>MM Leader</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Vocational Bible Study</td>
        <td>Twicw a Month</td>
        <td>Presiding Bishop</td>
      </tr>
    </tbody>
  </table>
</div>