
    <div class="row">
        <div class="col-6">
          <h2>Deliverance Churches of Kenya</h2>
        </div>
        <div class="col-6">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/home"  routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/branches" routerLinkActive="active">Branches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Contacts" routerLinkActive="active">Contacts</a>
            </li>
          </ul>
        </div>
      </div>


