<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Brach</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bsh. Hannah Mutiga</td>
      <td>Nairobi Branch 
      </td>
      <td>P.O Box 89 - 00100 (Nairobi)
          <br>Tel: 0701223233
      </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Rev. Caren Misik</td>
        <td>Nakuru Branch 
        </td>
        <td>P.O Box 23421 - 00400 (Nakuru)
            <br>Tel: 0723183576
        </td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Pst. Emmanuel Ouma</td>
          <td>Kisumu Branch 
          </td>
          <td>P.O Box 678910 - 02300 (Kisumu)
              <br>Tel: 0722232300
          </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Str. Everline Murimu</td>
            <td>Voi Branch 
            </td>
            <td>P.O Box 30321 - 000900 (Voi)
                <br>Tel: 0799880044
            </td>
          </tr>
          <tr>
              <th scope="row">5</th>
              <td>Br. Elly Awuor</td>
              <td>Bondo Branch 
              </td>
              <td>P.O Box 56567 - 40601 (Bondo)
                  <br>Tel: 0731859077
              </td>
            </tr>
  </tbody>
</table>