<form>
  <h3>Register For Journals</h3>
  <div class="form-group">
    <label for="text">Surname</label>
    <input type="text" class="form-control" name="surname" [(ngModel)]="reg.surname" id="SurName" aria-describedby="emailHelp" placeholder="Enter SurName">
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Other names</label>
    <input type="text" class="form-control" name="othernames" [(ngModel)]="reg.othernames" id="othernames" aria-describedby="emailHelp" placeholder="Enter Other Names">
   
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">email</label>
    <input type="Email" class="form-control" name="email" [(ngModel)]="reg.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="pwd" [(ngModel)]="reg.password" id="exampleInputPassword1" placeholder="Password">
  </div>
    <button (click)="signup(reg)" class="btn btn-primary">Submit</button>
</form>