<ul class="list-group">
    <li class="list-group-item">Bondo</li>
    <li class="list-group-item">Kisumu Mamboleo Junction</li>
    <li class="list-group-item">Kisumu Mamboleo Main</li>
    <li class="list-group-item">Kisumu Nyalenda</li>
    <li class="list-group-item">Misambi</li>
    <li class="list-group-item">Kapsalem</li>
    <li class="list-group-item">Forttenaan</li>
  </ul>