<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Service</th>
      <th scope="col">Time</th>
      <th scope="col">Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sunday Service</td>
      <td>9.30am-12.30pm</td>
      <td>Sunday</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Lunch Hour</td>
      <td>12.30pm-1.40pm</td>
      <td>Mon-Fri</td>
    </tr>
    <tr>
     <th scope="row">3</th>
      <td>Morning Glory</td>
      <td>6.00am-7.00am</td>
      <td>Daily</td>
    </tr>
    <tr>
      <th scope="row">4</th>
       <td>Prayer Meeting</td>
       <td>5.30pm-6.30pm</td>
       <td>Wednesday</td>
     </tr>
     <tr>
      <th scope="row">5</th>
       <td>Kesha</td>
       <td>9.00pm-5.30am</td>
       <td>1st Friday of every Month</td>
     </tr>
  </tbody>
</table>